.root {
  --button-border: rgb(61, 57, 58);
}
/* Dashboard Projects */
.projects {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: white;
  transition: 0.5s;
}

.projects.active {
  width: calc(100% - 60px);
  left: 60px;
}
.projectDetails {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  grid-gap: 20px;
}

.projectDetails .allProjects {
  position: relative;
  min-width: 530px;
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 20px;
  padding: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
}

.btn {
  position: relative;
  padding: 5px 10px;
  background: rgb(212, 56, 82);
  text-decoration: none;
  border-radius: 6px;
  color: black;
}

.projectDetails table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.projectDetails table thead td {
  font-weight: 600;
}

.projectDetails .allProjects table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.projectDetails .allProjects table tr:last-child {
  border-bottom: none;
}

.projectDetails .allProjects table tbody tr:hover {
  background: white;
  color: black;
}

.projectDetails .allProjects table tr td {
  padding: 9px 5px;
}

.projectDetails .allProjects table thead tr td:last-child,
.projectDetails .allProjects table tbody tr td:last-child {
  text-align: right;
}

.projectDetails .allProjects table tbody tr {
  cursor: pointer;
}

.status {
  position: relative;
  padding: 2px 4px;
  background-color: rgb(53, 47, 47);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.addProject {
  display: flex;
  position: relative;
  text-align: center;
  left: 45%;
  padding: 5px 10px;
  background: white;
  text-decoration: none;
  border-radius: 2px;
  color: black;
}

.addProject:hover {
  background: white;
}

/*==== Create Project Overlay =====*/

.overlay {
  position: relative;
  transition: 0.5s;
  width: calc(100% - 300px);
  height: 100vh;
  left: 300px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.overlay.active {
  width: calc(100% - 60px);
  left: 60px;
}

.createProjectModal {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  border-radius: 20px;
  width: 95%;
  height: 50%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.createProjectModal select {
  width: 160px;
}

.createProjectModal select option {
  color: black;
}

.close {
  position: absolute;
  width: 30px;
  left: 40px;
  top: 27%;
  align-items: center;
  background-color: pink;
  border: 2px solid gray;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 25px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close:hover {
  background: solid gray;
  outline: 0;
}

@media (min-width: 768px) {
  .close {
    padding: 0 40px;
  }
}

/* ====Details for Project Detail Modal ====*/

.projectDetailGrid {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  margin-top: 0px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
}

.projectContainer {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  text-align: center;
  width: 80%;
  height: 80%;
  border-radius: 20px;
}

.projectContainer h2 {
  text-align: center;
  margin-top: 20px;
}

.projectDetailGrid .assignedTicketList {
  position: relative;
  display: grid;
  min-width: 530px;
  background: #eee;
  box-shadow: 0 8px 8px -4px var(--main-color);
  padding: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
}

.btn {
  position: relative;
  padding: 5px 10px;
  background: rgb(212, 56, 82);
  text-decoration: none;
  border-radius: 6px;
  color: black;
}

.projectDetailGrid table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.projectDetailGrid table thead td {
  font-weight: 600;
}
/* Ticket List Table */

.projectDetailGrid .assignedTicketsList table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.projectDetailGrid .assignedTicketsList table tr:last-child {
  border-bottom: none;
}

.projectDetailGrid .assignedTicketsList table tbody tr:hover {
  background: white;
  color: black;
}

.projectDetailGrid .assignedTicketsList table tr td {
  padding: 9px 5px;
}

.projectDetailGrid .assignedTicketsList table tbody tr {
  cursor: pointer;
}
/* Assigned User List */
.projectDetailGrid .assignedPersonelProject table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.projectDetailGrid .assignedPersonelProject table tr:last-child {
  border-bottom: none;
}

.projectDetailGrid .assignedPersonelProject table tbody tr:hover {
  background: white;
  color: black;
}

.projectDetailGrid .assignedPersonelProject table tr td {
  padding: 9px 5px;
}
.projectDetailGrid .assignedPersonelProject table tbody tr {
  cursor: pointer;
}

.fa-chevron-down {
  cursor: pointer;
}
